@import "../../common/base.module";

.headerContainer {
  @media only screen and (max-width: 768px) {
  }

  @media (min-width: 992px) {
    border-bottom: 1px solid $base-light-orange;
  }

  .notificationBar {
    background: $base-light-brown;
    height: 10px;
  }

  .headerLink {
    text-decoration: none;
    color: #FFFFFF;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
    mix-blend-mode: screen;

    //&:hover {
    //  color: $base-light-brown;
    //}
  }

  .headerIcons {
    color: $base-light-brown
  }

  .headerBar {
    background: $base-light-brown;
    color: #FFFFFF;
    height: 60px;
    padding: 5px;

    .navigation {
      ul {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        list-style: none;
      }
    }
  }
}