# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/storefront/node_modules
/storefront/.pnp
/storefront/.pnp.js

# testing
/storefront/coverage

# next.js
/storefront/.next/
/storefront/out/

# production
/storefront/build

# misc
/storefront/.DS_Store

# debug
/storefront/npm-debug.log*
/storefront/yarn-debug.log*
/storefront/yarn-error.log*

# local env files
/storefront/.env.local
/storefront/.env.development.local
/storefront/.env.test.local
/storefront/.env.production.local
